<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devin Brown | Design System</title>
    <link rel="icon" width="180" height="180" href="../img/faviconLogo.png">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.typekit.net/xnl0nuy.css">
    <link rel="stylesheet"  href="../css/styles.css">
     <link rel="stylesheet" type="text/css" href="../css/prism.css">
  </head>
  <body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container container-fluid">
    <a class="navbar-brand" href="../index.html"><img src="../img/Logo01.png" width="180" height="180" class="d-inline-block align-top" alt="photo of logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Foundations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../Foundations/type.html">Typography</a></li>
            <li><a class="dropdown-item" href="../Foundations/color.html">Color</a></li>
            <li><a class="dropdown-item" href="../Foundations/logo.html">Logo</a></li>
            <li><a class="dropdown-item" href="../Foundations/icons.html">Icons</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Components
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="breadcrumb.html">Breadcrumb</a></li>
            <li><a class="dropdown-item" href="links.html">Buttons & Links</a></li>
            <li><a class="dropdown-item" href="cards.html">Cards</a></li>
            <li><a class="dropdown-item" href="footer.html">Footer</a></li>
            <li><a class="dropdown-item" href="navbar.html">Navbar</a></li>
            <li><a class="dropdown-item" href="pagination.html">Tablist</a></li>
            <li><a class="dropdown-item" href="table.html">Table</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Patterns/home.html" role="button" aria-expanded="false">
            Patterns
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of nav -->
<!-- page content -->
    
<div class="container">
 <h1>Table</h1>
 <hr>
 <p>The footer contains pertinent copyright details and provides a concluding call-to-action, encouraging visitors to connect through its social media links.</p>
<h2>Responsive Table</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod empor incididunt ut labore et dolore magna aliqua.</p>

<!-- footer -->
<div class="col-sm mx-auto pb-4" style="border:#393737 1px solid;">
<div class="container">
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Header 1</th>
      <th scope="col">Header 2</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt utlabore et dolore magna aliqua.</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <b>labore et dolore magna aliqua<b>.</td>
    </tr>
    <tr>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut <a href="">labore et dolore magna aliqua</a>.</td>
      <td>Lorem ipsum dolor sit amet
        <ul><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.</li></ul></td>
    </tr>
  </tbody>
</table>
</div><!-- end of table  -->
</div>
</div>
<!-- footer -->


<br>
<p style="text-align: right;"><a data-bs-toggle="collapse" href="#code" aria-expanded="false" aria-controls="code">View Code +</a></p>
<div class="row">
<div class="col">
<div class="collapse multi-collapse" id="code">
<div class="card card-body">
<pre><code class="language-css">
&lt;div class="container"&gt;
&lt;div class="table-responsive"&gt;
&lt;table class="table"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope="col"&gt;Header 1&lt;/th&gt;
      &lt;th scope="col"&gt;Header 2&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;body class="table-group-divider"&gt;
    &lt;tr&gt;
      &lt;td&gt;Column Row 1&lt;/td&gt;
      &lt;td&gt;Column Row 2&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
       &lt;td&gt;Column Row 1&lt;/td&gt;
       &lt;td&gt;Column Row 2&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
</div>
</div>
</div>
<h2>Accessibility</h2> 
<p>Our tables prioritize accessibility, featuring semantic HTML for screen readers. Clear and concise headers facilitate navigation.</p>
</div><!-- end of row -->
   <!-- <footer>
     <div class="social">
      <a href="https://www.linkedin.com/in/devinebrown/" target="_blank" class="fa fa-linkedin"></a>
      <a href="https://github.com/DevinEBrown" target="_blank"  class="fa fa-github"></a>
      <a href="https://www.behance.net/devin-brown/" target="_blank"  class="fa fa-behance"></a>
      </div>
    </footer> -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/c717f3fe25.js" crossorigin="anonymous"></script>
     <script type="text/javascript" src="../js/prism.js"></script>
  </body>
</html> 
